#
## United configuration file for the DataBridge system. Configs are set for a production system
#

###############################################################################
# Network database section
###############################################################################
# The type of the network database. Currently either Neo4j or Titan
org.renci.databridge.databaseType=Neo4j

# The location of the physical database files
org.renci.databridge.networkdb.location=/projects/databridge/persistence/testData

###############################################################################
# Persistence database section
###############################################################################
# The type of the database
org.renci.databridge.relevancedb.dbType=mongo

# The name of the database
org.renci.databridge.relevancedb.dbName=production

# The host for the database
org.renci.databridge.relevancedb.dbHost=localhost

# The port for the database
org.renci.databridge.relevancedb.dbPort=27017

###############################################################################
# Communication section
###############################################################################
# The communication host
org.renci.databridge.queueHost=localhost

# the normal platform (header) exchange
org.renci.databridge.exchange=databridge-production-exchange

# the direct exchange
org.renci.databridge.direct.exchange=integration-test-direct

# the direct queue
org.renci.databridge.direct.queue=batch-worker-test-primary

# The durability for the primary communication queue.
org.renci.databridge.queueDurability=false

###############################################################################
# Ingest engine section
###############################################################################

# The primary communication queue.
org.renci.databridge.ingestEngine.primaryQueue=databridge-ingest-engine-production-primary

# The rpc listener communication queue
org.renci.databridge.ingestEngine.rpcQueue=databridge-ingest-engine-production-rpc

###############################################################################
# Relevance engine section
###############################################################################

# The primary communication queue.
org.renci.databridge.relevanceEngine.primaryQueue=databridge-relevance-engine-production-primary

# The secondary "ingestlister" communication queue.
org.renci.databridge.relevanceEngine.ingestQueue=databridge-relevance-engine-production-ingest

###############################################################################
# Network engine section
###############################################################################

# The primary communication queue.
org.renci.databridge.networkEngine.primaryQueue=databridge-network-engine-production-primary

# The secondary "ingestlister" communication queue.
org.renci.databridge.networkEngine.ingestQueue=databridge-action-engine-production-ingest
###############################################################################
# Batch engine section
###############################################################################

# The primary communication queue.
org.renci.databridge.batchEngine.primaryQueue=batch-installed-primary

# The secondary "ingestlister" communication queue.
org.renci.databridge.batchEngine.ingestQueue=batch-installed-action

# The direct reply queue used to reply back to the batch engine
org.renci.databridge.batchEngine.replyQueue=batch-engine-reply-installed-queue

# The direct queue used to send messages to the workers
org.renci.databridge.batchEngine.directWorkerQueue=batch-engine-worker-installed-queue

###############################################################################
# Batch worker section
###############################################################################

# The primary communication queue.
org.renci.databridge.batchWorker.primaryQueue=batch-worker-primary

# The number of operations for each "batch" (A unit of work tasked to a worker)
org.renci.databridge.batch.opsPerBatch=1000

# The maximum number of workers to start
org.renci.databridge.batch.maxWorkers=10

# Command to start the batch workers
org.renci.databridge.batchWorker.startCommand=dataBridgeBatchWorkerCtl.sh

# Arguments to start the batch workers
org.renci.databridge.batchWorker.startCommandArgs=start

# Command to stop the batch workers
org.renci.databridge.batchWorker.stopCommand=dataBridgeBatchWorkerCtl.sh

# Arguments to stop the batch workers
org.renci.databridge.batchWorker.stopCommandArgs=stop

# Max number of retries for batch command failure
org.renci.databridge.batchWorker.maxRetries=10

# Directory for the collection files used for file based IPC
org.renci.databridge.batch.collectionFileDir=/tmp/collectionDir

###############################################################################
# Misc properties
###############################################################################
org.renci.databridge.misc.tmpDir=/tmp

# The top level directory for binaries, scripts etc
org.renci.databridge.misc.binDir=/projects/databridge/DataBridge/bin
